*{
    padding:  0;
    margin:  0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, rgb(164, 208, 240),rgb(102, 50, 243));
}
.music-player{
    font-size: 16px;
    background-color: rgb(255, 240, 251);
    width: 80vw;
    max-width: 25em;
    padding: 3em 2em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0 20px rgb(255, 0, 0);
    border-radius: 8px;
}
img{
    width: 100%;
    margin-top: 1.25em;
    border-radius: 1rem;
    max-height: 300px;
    box-shadow: 0 0 10px pink;
}
#playlist{
    float: right;
}
.song-details{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.song-details #song-name{
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: .3px;
}
.song-details #song-artist{
    font-size: .8em;
}
.player-options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1.25rem;
    margin: 1.25rem 0 0.6em 0;
}
.music-player button{
    border: none;
    background-color: transparent;
}
#play, #pause{
    background-color: purple;
    color: white;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    font-size: 1.8em;
}
#prev, #next{
    color: black;
    font-size: 1.4em;
}
#shuffle, #repeat{
    color: gray;
    font-size: 1em;
}
.hide{
    display: none;
}

#progress-bar{
    background-color: gray;
    width: 100%;
    height: .3em;
    margin: 1em 0;
    border-radius: 2em;
    cursor: pointer;
    position: relative;
}

#current-progress{
    background-color: purple;
    border-radius: 2em;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
}
.time-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

button.active i{
    color: purple;
}

#playlist-container{
    background-color: antiquewhite;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow:  0 0 10px gray;
    overflow: auto;
    scroll-behavior: smooth;
}
#close-button{
    background-color: transparent;
    cursor: pointer;
    margin-left: 90%;
    height: 2em;
    width: 2em;
    border: none;
    font-size: 20px;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    cursor: pointer;

}

.playlist-song-details{
    margin-left: 1rem;
}

.playlist-image-container{
    width: 4em;
    margin-left: 10px;
}

.playlist-song-details > span{
    display: block;
}

#playlist-song-artist-album{
    color: gray;
}

@media screen and (max-width: 450px) {
    .music-player{
        font-size: 14px;
    }
}